{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main"><br><br>
	<div class="container">
	<span style="font-size: 30px; color: #A9A9A9;"><i class="far fa-id-badge"></i></span>&nbsp;&nbsp;
  	<font size='+3' color="#9fa8da "><b>Наши контакты</b></font></h2>
	<hr size="2" width="400" color="#7986cb" align="left">
		<hr size="2" width="200" color="#7986cb" align="left"><br>
  <div class="row black-text">
            <div class="col s4">
                <center><img src="../media/Контакты1.png" height="70" width="70">
                <h4>Позвоните нам</h4><br>Есть вопросы? Мы поможем!<br><br><br><b>+7 343 123-456-7</b><br><b>+7 999 123 456-7</b></center>
            </div>
            <div class="col s4">
				<center><img src="../media/Контакты2.png" height="70" width="70">
                <h4>Напишите нам</h4><br>Идеи? Предложения?<br>Мы открыты для любых вопросов!<br><br><br>Написать на <b>tehnology@top.ru</b></center>
            </div>
            <div class="col s4">
                <center><img src="../media/Контакты3.png" height="70" width="70">
                <h4>Обратная связь</h4><br>Поделитесь мнением о нашей<br>работе и помогите нас стать лучше!<br><br><br>Позвоните на <b>+7 999 123-456-7</b></center>
            </div>
		</div><br><br><br>
		<div class="parallax-container">
			<div class="parallax"><center><img src="../media/man.jpg" ></center></div>
		</div><br><br>
		<font color="black">
			<div class="container">
				<b><h4>Реквизиты</h4></b><br>
				<div class="row">
					<div class="col s2">
						<b>Название организации:<br><br>
						ИНН/КПП:<br><br>
						ОГРН:<br><br>
						Юридический адрес:<br><br>
						Телефон:<br><br>
						Банковские реквизиты</b>
					</div>
					<div class="col s10">
						ООО TOP TEHNOLOGY<br><br>
						6516168416841684 / -<br><br>
						684684684684684684<br><br>
						620007,Свердловская обл.,г. Екатеринбург, ул. Артема, д.10/2<br><br>
						+7 (999) 123-456-7<br><br>
						р/с 5152114415151415 в г.Екатеринбург ПАО СБЕРБАНК, к/с 5313513581531351, БИК 51515151515
					</div>
				</div>
			</div>
			<hr>
			<div class="container">
				<b><h4>Наши лучшие сотрудники</h4></b><br>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man3.jpg" width="142" height="92" class="circle"> </center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Хлыстов Дмитрий Степанович</b><br>
									<i>Директор</i><br>
									+7 (999) 765-432-1<br>
									director@top.ru
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</font>
		<br>

</main>
{% endblock %}